# Virtual Environment
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3

# Environment Variables
.env

# Media Files (User Uploads)
media/

# Static Collection (for production)
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

