{% extends 'base.html' %}
<!-- HERO -->
{% block title %}Home Page | Blog App{% endblock %}
{% block body %}
{% if not request.user.is_authenticated %}
<section class="hero">

<div class="hero-text">
<h1>Read. Write. Share.</h1>
<p>Discover amazing articles and share your ideas with the world.</p>
<a href="{% url 'login' %}" class="hero-btn">Start Reading</a>
</div>

<img src="https://images.unsplash.com/photo-1499750310107-5fef28a66643">

</section>
    
{% endif %}


<!-- BLOG POSTS -->

<section class="blog-section">

<h2 class="blog-title">Latest Blogs</h2>


<div class="blog-grid">
{% for post in posts %}

<a href="{% url 'blog-detail' post.id %}" style="text-decoration: none;color: inherit;" class="blog-card">
    {% with post.images.first as first_img %}
        {% if first_img %}
            <img src="{{ first_img.image.url }}">
        {% else %}
            <p></p>
        {% endif %}
    {% endwith %}

    <div class="blog-content">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|truncatewords:15 }}</p>
    </div>

</a>

{% endfor %}
</div>

</section>
{% endblock %}